<div class="mainStrip">
    <div class="bgDivOne">
    <div class="container pt-3 pb-3">
        <h4>TERMS & CONDITIONS</h4>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript: void(0);"  routerLink=""><i class="fa fa-home"></i>&nbsp;HOME</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">
                TERMS & CONDITIONS
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="container mt-2 mb-4">
    <div class="row firstRow m-0 mb-3">
        <div class="col-12 p-0">
            <h5 class="position-relative mainHeading text-center mt-3 mb-0">
                TERMS & CONDITIONS
            </h5>
            <div class="text-center titleImg">
                <img src="../../../assets/title-icon.png" alt="logo Fav"/>
            </div>
        </div>
    </div>
    <div class="row fnt13px">
       <div class="col-12">
        <p>
            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.
        </p>
        <p>
            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.
        </p>
        <p>
            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.
        </p>
        <p>
            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.
        </p>
        <p>
            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.
        </p>
        </div>
    </div>
</div>