<footer>
    <div class="bgDiv">
    <div class="container p-4">
        <div class="row">
           <div class="col-4">
             <img src="../../../assets/footerlogo.png" width="120px" class="mb-2" alt="Logo Small"/>
             <p>
                Wrenley Formulation Private Limited is Indian Pharmaceuticals Company always
welcome to our client across the Globe and collaboration for new Molecules
development. Wrenley Formulation Private Limited is a global, diversified
healthcare company with excellence of Quality and Services...<a href="javascript: void(0);" routerLink="">View more</a>
             </p>
             <ul class="list-inline socialLinks">
                <li class="list-inline-item mr-3">
                    <i class="fa fa-facebook"></i>
                </li>
                <li class="list-inline-item mr-3">
                    <i class="fa fa-twitter"></i>
                </li>
                <li class="list-inline-item ">
                    <i class="fa fa-youtube-play"></i>
                </li>
             </ul>
           </div>
           
           <div class="col-4">
               <h4 class="position-relative footerTitle">LINKS</h4>
               <div class="float-left">
                <ul class="list-inline shortLinks mt-3">
                    <li>
                        <a href="javascript: void(0);" routerLink="about"><i class="fa fa-chevron-right"></i>&nbsp;ABOUT US</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" routerLink="careers"><i class="fa fa-chevron-right"></i>&nbsp;CAREER</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" routerLink="blog" ><i class="fa fa-chevron-right"></i>&nbsp;BLOG</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" routerLink="contact"><i class="fa fa-chevron-right"></i>&nbsp;CONTACT</a>
                    </li>
                 </ul>
               </div>
               <div class="float-left ml-5">
                <ul class="list-inline shortLinks mt-3">
                    <li>
                        <a href="javascript: void(0);" routerLink="termsandconditions"><i class="fa fa-chevron-right"></i>&nbsp;TERMS & CONDITIONS</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" routerLink="privacypolicy"><i class="fa fa-chevron-right"></i>&nbsp;PRIVACY POLICY</a>
                    </li>
                    
                 </ul>
               </div>
              <div class="clearfix"></div>
           </div>
           <div class="col-4">
            <h4 class="position-relative footerTitle">OFFICE HOURS</h4>
            <ul class="list-inline officeHours mt-3">
                <li>
                    MONDAY - FRIDAY : 10.00 am - 9.00 pm
                </li>
                <li>
                    SATURDAY : 10.00 am - 9.00 pm
                </li>
                <li>
                    SUNDAY : CLOSED
                </li>
                
             </ul>
           </div>
        </div>
        <div class="row">
            <div class="col-12 text-center fnt12px colorWhite">
                © 2022 WRENLEY. All Rights Reserved.
            </div>
        </div>
    </div>
</div>
</footer>
