<div class="mainStrip">
    <div class="bgDivOne">
    <div class="container pt-3 pb-3">
        <h4>CONTACT</h4>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript: void(0);"  routerLink=""><i class="fa fa-home"></i>&nbsp;HOME</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">
                CONTACT & SUPPORT
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
       <div class="col-4">
          <div class="bgcontact">
            <div class="text-center">
                <i class="fa fa-map-marker mb-3" aria-hidden="true"></i>
            </div>
            <h4>OUR LOCATION</h4>
            <p>312, V. M. Serenity, 2nd Cross, Brindavan Layout, Horamavu,
                Bangalore- 560043</p>
          </div>
       </div>
       <div class="col-4">
        <div class="bgcontact">
          <div class="text-center">
              <i class="fa fa-phone mb-3" aria-hidden="true"></i>
          </div>
          <h4>CONTACT</h4>
          <p>+91 9303161115</p>
        </div>
       </div>
       <div class="col-4">
        <div class="bgcontact">
          <div class="text-center">
              <i class="fa fa-envelope mb-3" aria-hidden="true"></i>
          </div>
          <h4>EMAIL</h4>
          <p>wrenleyformulations@gmail.com</p>
          <p>www.wrenley.in</p>
        </div>
       </div>
    </div>
</div>
<div class="container">
    <div class="row firstRow m-0 mt-3 mb-3">
        <div class="col-12 p-0">
            <h5 class="position-relative mainHeading text-center mt-3 mb-0">
                Get In Touch With Us
            </h5>
            <div class="text-center titleImg">
                <img src="../../../assets/title-icon.png" alt="logo Fav"/>
            </div>
        </div>
    </div>
    <div class="row mb-4 mt-3">
        <div class="col-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15548.648671030462!2d77.6614776!3d13.025343!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd77f3f08bba206ca!2sVM%20Serenity!5e0!3m2!1sen!2sin!4v1662007317209!5m2!1sen!2sin" width="100%" height="400" style="border:0;" loading="lazy"></iframe>
        </div>
        <div class="col-5">
            
            <form class="contactForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name (Required)">
                          </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email (Required)">
                          </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                          </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="3">More Information</textarea>
                          </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btnCommon mt-3">
                            SEND DETAILS
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
