<div class="mainStrip">
    <div class="bgDivOne">
    <div class="container pt-3 pb-3">
        <h4>LIST OF PRODUCTS</h4>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript: void(0);"  routerLink=""><i class="fa fa-home"></i>&nbsp;HOME</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">
                LIST OF PRODUCTS
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="container mt-5 mb-4">
    <div class="row">
       <div class="col-3" *ngFor="let pd of productData">
          <div class="prodBox mb-3">
            <img src="{{pd.productImg}}" alt="Medicine"/>
        <div class="p-3">
                <div class="productName">
                    {{pd.tabName}}
                </div>
                <div class="capacity">
                    {{pd.pCapacity}}
                </div>
                <div class="tabCount">
                    {{pd.nofTablets}} TABLETS
                </div>
                <div class="tabPrice mt-1 mb-2">
                    <strong class="newPrice">
                        <i class="fa fa-inr"></i>&nbsp; {{pd.offerPrice}}
                    </strong>&nbsp;&nbsp;
                    <span class="oldPrice"><i class="fa fa-inr"></i>&nbsp; {{pd.actualPrice}}</span>&nbsp;
                    <span class="pricePer">{{pd.pricePercentile}}% off</span>
                </div>
                <div class="text-center">
                    <button class="btnCart"><i class="fa fa-shopping-cart"></i> <span>ADD CART</span></button>&nbsp;&nbsp;
                    <button class="btnCart" [routerLink]="['/products', pd.id]"><i class="fa fa-eye" aria-hidden="true"></i><span>VIEW CART</span></button>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>

