<div class="mainStrip">
    <div class="bgDivOne">
    <div class="container pt-3 pb-3">
        <h4>BLOG</h4>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript: void(0);"  routerLink=""><i class="fa fa-home"></i>&nbsp;HOME</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">
                BLOG
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
       <div class="col-4">
        Content
       </div>
       <div class="col-8">
        Content
       </div>
    </div>
</div>
<div class="container">
   new
</div>
