 <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="../../../assets/bg3.jpg" alt="image" width="100%"/>
    </ng-template>  
    <ng-template carouselSlide>
        <img src="../../../assets/bg3.jpg" alt="image" width="100%"/>
    </ng-template>  
    <ng-template carouselSlide>
        <img src="../../../assets/bg3.jpg" alt="image" width="100%"/>
    </ng-template>  
  </owl-carousel-o>
  <div class="row firstRow m-0 mb-3">
    <div class="col-12 p-0">
        <h5 class="position-relative mainHeading text-center mt-3 mb-0">
            WELCOME TO WRENLEY<img src="../../../assets/logoFav2.png" alt="logo Fav"/>
        </h5>
        <div class="text-center titleImg">
            <img src="../../../assets/title-icon.png" alt="logo Fav"/>
        </div>
    </div>
</div>
<div class="homeContent">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <p>
                    Wrenley Formulation Private Limited is Indian Pharmaceuticals Company always
welcome to our client across the Globe and collaboration for new Molecules
development. Wrenley Formulation Private Limited is a global, diversified
healthcare company with excellence of Quality and Services. Wrenley
Formulation Private Limited is committed towards healthier life devoted to
development, manufacturing and marketing of pharmaceutical products.
                </p>
                <p>
                    Our group is a fully integrated pharmaceutical business group, present across
the entire pharmaceutical value chain right from Research and Development of
Market Dynamics, Active Pharmaceutical Ingredients to Finished Formulations.
Wrenley Formulation Private Limited has been manufacturing and Marketing
global quality healthcare products for serving Mankind.
                </p>
                <p>
                    At Wrenley Formulation Private Limited, we believe that innovative, responsible
and sustainable business plays an important role in building a healthy, thriving
society - in India and throughout the world. This idea lies at the heart of our
global citizenship strategy.
                </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/welcome.png" width="100%" alt="welcome"/>
            </div>
        </div>
    </div>
</div>
<div class="container">
    
   <div class="row firstRow mb-3">
      <div class="col-4 p-0">
        <div class="bg1">
           <h5>OUR VISION</h5>
           <p>
            Our Vision is to become a truly global company with excellence of quality and services to our
customers with Innovation. We at Wrenley Formulation Private Limited always believe in ethical
practice with commitment.
           </p>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="bg2">
        <h5>OUR MISSION</h5>
        <p>
            Our Mission is to create global benchmarks in field of high quality medicines with cost
effective so that more and more no. of customers benefited with world class services to our customers.
Excellence in Ethics and sales with highest customer satisfaction is what we strive to achieve.
        </p>
    </div>
      </div>
      <div class="col-4 p-0">
        <div class="bg3">
        <h5>GET IN TOUCH</h5>
        <p>
          <a class="anchor mt-2 mb-2" href="tel: 9303161115">+91 9303161115</a>
          <a class="anchor" href="mailto: wrenleyformulations@gmail.com">wrenleyformulations@gmail.com</a>
        </p>
    </div>
      </div>
   </div>
</div> 

<div class="ourProducts">
    <div class="bgOverlay"></div>
    <div class="row firstRow m-0 mb-3">
        <div class="col-12 p-0">
            <h5 class="position-relative mainHeading text-center mt-3 mb-0">
                <span class="colorWhite">PRODUCT PORTFOLIO</span>
            </h5>
            <div class="text-center titleImg">
                <img src="../../../assets/title-icon.png" alt="logo Fav"/>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="portfoliocontent">
            We focus on Innovation, we have a broad quality product portfolio across various
therapeutic areas listed bellow.
        </p>
        <div class="row">
            <div class="col-4">
            <div class="portBox" routerLink="products">
                <div class="portHeader">
                    <i class="fa fa-medkit"></i> &nbsp; Gastroenterology
                </div>
                <p class="portfoliocontent">
                    We focus on Innovation, we have a broad quality product portfolio across various
        therapeutic areas listed bellow.
                </p>
                <a href="javascript: void(0);" class="text-center d-block">VIEW PRODUCTS</a>
            </div>
            </div>
            <div class="col-4">
                <div class="portBox" routerLink="products">
                    <div class="portHeader">
                        <i class="fa fa-medkit"></i> &nbsp; Gynecology
                    </div>
                    <p class="portfoliocontent">
                        We focus on Innovation, we have a broad quality product portfolio across various
            therapeutic areas listed bellow.
                    </p>
                    <a href="javascript: void(0);" class="text-center d-block">VIEW PRODUCTS</a>
                </div>
                </div>
                <div class="col-4">
                    <div class="portBox" routerLink="products">
                        <div class="portHeader">
                            <i class="fa fa-medkit"></i> &nbsp; Orthopedics
                        </div>
                        <p class="portfoliocontent">
                            We focus on Innovation, we have a broad quality product portfolio across various
                therapeutic areas listed bellow.
                        </p>
                        <a href="javascript: void(0);" class="text-center d-block">VIEW PRODUCTS</a>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="portBox" routerLink="products">
                            <div class="portHeader">
                                <i class="fa fa-medkit"></i> &nbsp; Respiratory
                            </div>
                            <p class="portfoliocontent">
                                We focus on Innovation, we have a broad quality product portfolio across various
                    therapeutic areas listed bellow.
                            </p>
                            <a href="javascript: void(0);" class="text-center d-block">VIEW PRODUCTS</a>
                        </div>
                        </div>
                        <div class="col-4">
                            <div class="portBox" routerLink="products">
                                <div class="portHeader">
                                    <i class="fa fa-medkit"></i> &nbsp; Anti-infective
                                </div>
                                <p class="portfoliocontent">
                                    We focus on Innovation, we have a broad quality product portfolio across various
                        therapeutic areas listed bellow.
                                </p>
                                <a href="javascript: void(0);" class="text-center d-block">VIEW PRODUCTS</a>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="portBox" routerLink="products">
                                    <div class="portHeader">
                                        <i class="fa fa-medkit"></i> &nbsp; Anti allergy
                                    </div>
                                    <p class="portfoliocontent">
                                        We focus on Innovation, we have a broad quality product portfolio across various
                            therapeutic areas listed bellow.
                                    </p>
                                    <a href="javascript: void(0);" class="text-center d-block">VIEW PRODUCTS</a>
                                </div>
                                </div>
            
        </div>
    </div>
</div>

<div class="row firstRow m-0 mt-3 mb-3">
    <div class="col-12 p-0">
        <h5 class="position-relative mainHeading text-center mt-3 mb-0">
            BELIEVES AND VALUES 
        </h5>
        <div class="text-center titleImg">
            <img src="../../../assets/title-icon.png" alt="logo Fav"/>
        </div>
    </div>
</div>
<div class="homeContent">
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <img src="../../../assets/5.png" width="60%" alt="welcome"/>
            </div>
            <div class="col-8">
                <p>
                    At <strong>Wrenley Formulation</strong> Private Limited, we believe that innovative, responsible and
sustainable business plays an important role in building a healthy, thriving society - in India and throughout
the world. This idea lies at the heart of our global citizenship strategy.
                </p>
                <p>
                    At <strong>Wrenley Formulation</strong> Private Limited, we earn our reputation every day. It is the result of
individual decisions made by employees, in matters large and small. As our business and the world around us
grow more complex, there are times when the right choice seems neither simple nor apparent. Yet, at all
times our actions must be guided by a clear understanding or legal and regulatory requirements, our policies
and procedures, and shared ethical principles and values.
                </p>
                <p>
                    Worldwide Presence &amp; Collaborations <strong>Wrenley Formulation</strong> Private Limited is Indian
                    Pharmaceuticals Company always welcome to our client across the Globe and collaboration for new
                    Molecules development.
                    Strategic alliance &amp; Business partnership with various MNCs and Indian companies Hallmark of Excellence
                    Manufacturing Facilities complying Global standards.
                </p>
            </div>
            
        </div>
    </div>
</div>
