.jobCard{
    box-shadow: 0px 0px 3px #ccc;
    border-top: 3px solid #912a70;
    i{
        font-size: 14px;
    }
}
.jobLocation{
    font-size: 14px;
    margin-bottom: 1rem;
}
.jobTitle{
    color: #912a70;
}
.jobCard .unitOne{
    font-size: 18px;
    margin: 18px 0px;
}
.text18px{
    font-size: 18px;
}