<div class="mainStrip">
    <div class="bgDivOne">
    <div class="container pt-3 pb-3">
        <h4>Careers</h4>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript: void(0);"  routerLink=""><i class="fa fa-home"></i>&nbsp;HOME</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">
                Careers
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="container mt-2 mb-4">
    <div class="row firstRow m-0 mb-3">
        <div class="col-12 p-0">
            <h5 class="position-relative mainHeading text-center mt-3 mb-0">
                JOIN WITH US
            </h5>
            <div class="text-center titleImg">
                <img src="../../../assets/title-icon.png" alt="logo Fav"/>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-12">
        <p class="text-center">
            We're on the lookout for motivated, curious, and creative people who are super excited about transforming the way business to communicate. Let's create something spectacular together.
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
          <div class="jobCard">
            <div class="p-3">
                <div class="jobLocation">
                    <i class="fa fa-map-marker"></i>&nbsp; BANGALORE
                </div>
                <h4 class="jobTitle">
                    Job Title
                </h4>
                <h4 class="unitOne">
                    Business Area: Unit 1
                </h4>
                <i>Posted on 20/082022</i>
            </div>
          </div>  
        </div>
        <div class="col-4">
            <div class="jobCard">
                <div class="p-3">
                    <div class="jobLocation">
                        <i class="fa fa-map-marker"></i>&nbsp; BANGALORE
                    </div>
                    <h4 class="jobTitle">
                        Job Title
                    </h4>
                    <h4 class="unitOne">
                        Business Area: Unit 1
                    </h4>
                    <i>Posted on 20/082022</i>
                </div>
              </div>  
        </div>
        <div class="col-4">
            <div class="jobCard">
                <div class="p-3">
                    <div class="jobLocation">
                        <i class="fa fa-map-marker"></i>&nbsp; BANGALORE
                    </div>
                    <h4 class="jobTitle">
                        Job Title
                    </h4>
                    <h4 class="unitOne">
                        Business Area: Unit 1
                    </h4>
                    <i>Posted on 20/082022</i>
                </div>
              </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center text18px mt-5">
                To apply job position send your updated CV to <a href="mailto: jobs@wrenley.com">jobs@wrenley.com</a>
            </p>
        </div>
    </div>
</div>
