
.bgDivOne{
    background-image: url(../../../assets/strip.png);
    background-position: right;
    background-repeat: no-repeat;
}
p {
    font-size: 14px;
    color: #686868;
}
.portHeader{
    color: #912a70;
}