<div class="mainStrip">
    <div class="bgDivOne">
    <div class="container pt-3 pb-3">
        <h4>ABOUT US</h4>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript: void(0);" routerLink=""><i class="fa fa-home"></i>&nbsp;HOME</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">
                ABOUT US
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
       <div class="col-4 text-center">
        <img src="../../../assets/5.png" width="60%" alt="welcome"/>
       </div>
       <div class="col-8">
        <p>
            <strong>Wrenley Formulation</strong> Private Limited is a global, diversified healthcare company with excellence
of Quality and Services. Wrenley Formulation Private Limited is committed towards healthier
life devoted to development, manufacturing and marketing of pharmaceutical products.
Our group is a fully integrated pharmaceutical business group, present across the entire pharmaceutical value
chain right from Research and Development of Market Dynamics, Active Pharmaceutical Ingredients to
Finished Formulations. Wrenley Formulation Private Limited has been manufacturing and
Marketing global quality healthcare products for serving Mankind.
We at Wrenley Formulation Private Limited giving utmost care to our employee and customer
thus this group is growing by rapidly.
        </p>
        <p>
            <strong>Our Vision</strong> Our Vision is to become a truly global company with excellence of quality and services to our
            customers with Innovation. We at Wrenley Formulation Private Limited always believe in ethical
            practice with commitment.
        </p>
        <p>
            <strong>Our Mission</strong> Our Mission is to create global benchmarks in field of high quality medicines with cost
            effective so that more and more no. of customers benefited with world class services to our customers.
            Excellence in Ethics and sales with highest customer satisfaction is what we strive to achieve.
        </p>
       </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row firstRow m-0 mt-3 mb-3">
        <div class="col-12 p-0">
            <h5 class="position-relative mainHeading text-center mt-3 mb-0">
                OUR SERVICES
            </h5>
            <div class="text-center titleImg">
                <img src="../../../assets/title-icon.png" alt="logo Fav"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        <div class="portBox">
            <div class="portHeader">
                <i class="fa fa-medkit"></i> &nbsp; Gastroenterology
            </div>
            <p class="portfoliocontent">
                We focus on Innovation, we have a broad quality product portfolio across various
    therapeutic areas listed bellow.
            </p>
            
        </div>
        </div>
        <div class="col-4">
            <div class="portBox">
                <div class="portHeader">
                    <i class="fa fa-medkit"></i> &nbsp; Gynecology
                </div>
                <p class="portfoliocontent">
                    We focus on Innovation, we have a broad quality product portfolio across various
        therapeutic areas listed bellow.
                </p>
                
            </div>
            </div>
            <div class="col-4">
                <div class="portBox">
                    <div class="portHeader">
                        <i class="fa fa-medkit"></i> &nbsp; Orthopedics
                    </div>
                    <p class="portfoliocontent">
                        We focus on Innovation, we have a broad quality product portfolio across various
            therapeutic areas listed bellow.
                    </p>
                    
                </div>
                </div>
                <div class="col-4">
                    <div class="portBox">
                        <div class="portHeader">
                            <i class="fa fa-medkit"></i> &nbsp; Respiratory
                        </div>
                        <p class="portfoliocontent">
                            We focus on Innovation, we have a broad quality product portfolio across various
                therapeutic areas listed bellow.
                        </p>
                        
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="portBox">
                            <div class="portHeader">
                                <i class="fa fa-medkit"></i> &nbsp; Anti-infective
                            </div>
                            <p class="portfoliocontent">
                                We focus on Innovation, we have a broad quality product portfolio across various
                    therapeutic areas listed bellow.
                            </p>
                            
                        </div>
                        </div>
                        <div class="col-4">
                            <div class="portBox">
                                <div class="portHeader">
                                    <i class="fa fa-medkit"></i> &nbsp; Anti allergy
                                </div>
                                <p class="portfoliocontent">
                                    We focus on Innovation, we have a broad quality product portfolio across various
                        therapeutic areas listed bellow.
                                </p>
                                
                            </div>
                            </div>
        
    </div>
</div>
